*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #ecfff0;
}
body.lock{
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}
/*.island-13{*/
    /*border: red 1px solid;*/
    /*background: url('../img/Island_13.png') no-repeat;*/
/*}*/
.header{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.island{
    height: 1200px;
    margin-bottom: 2%;
}
.number-island{
    text-align: center;
    font-size: 30px;
}
.number-13{
    display: flex;
    flex-direction: column;
    background: url('../img/Island_13.svg') top center no-repeat;
}
.section_a{
    height: 50%;
}
.section_b{
    height: 50%;
}
.icon{
    opacity: 0;
    width: 26px;
    height: 20px;
}
.icon_popup{
    width: 26px;
    height: 20px;
}
.icon_6984{
    margin-left: 21%;
    margin-top: 11%;
}
.icon_6987{
    margin-left: 29%;
    margin-top: -1%;
}
.icon_6981{
    margin-left: 16%;
    margin-top: 15%;
}
.icon_6985{
    margin-left: 18%;
    margin-top: 1%;
}
.icon_6986{
    margin-left: 25%;
    margin-top: -6%
}
.icon_6982{
    margin-left: 29%;
    margin-top: 9%;
}
.icon_6979{
    margin-left: 53%;
    margin-top: -5%;
}
.icon_6977{
    margin-top: 0%;
    margin-left: 50%;
}
.icon_6978{
    margin-top: 4%;
    margin-left: 53%;
}
.icon_6973{
    margin-top: -1%;
    margin-left: 66%;
}
.icon_6976{
    margin-top: 3%;
    margin-left: 50%;
}
.icon_6975{
    margin-top: 1%;
    margin-left: 54%;
}
.icon_6974{
    margin-top: 1%;
    margin-left: 61%;
}
.icon_6974{
    margin-top: 0%;
    margin-left: 58%;
}
.icon_6971{
    margin-top: 0%;
    margin-left: 69%;
}
.icon_6969{
    margin-top: 6%;
    margin-left: 60%;
}
.icon_6972{
    margin-top: -1%;
    margin-left: 69%;
}

.icon_6964{
    margin-top: 5%;
    margin-left: 76%;
}
.icon_6970{
    margin-top: 5%;
    margin-left: 63%;
}
.icon_6965{
    margin-top: 2%;
    margin-left: 74%;
}
.icon_6966{
    margin-top: 0%;
    margin-left: 62%;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}
/*.popup-2{*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: rgba(0,0,0,0.8);*/
    /*top: 0;*/
    /*left: 0;*/
    /*opacity: 0;*/
    /*visibility: hidden;*/
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    /*transition: all 0.5s ease 0s;*/
/*}*/
.popup.open{
   opacity: 1;
    visibility: visible;
    transition: all 0.5s ease 0s;
}
.popup__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup__content{
    padding: 15px;
    position: relative;
    text-align: center;
}
.popup__image{
    margin: auto;
    max-width: 75%;
}
.popup__image img{
    max-width: 100%;
}
.popup__close{
    position: absolute;
    right: 153px;
    top: 26px;
    font-size:20px;
    color: black;
    text-decoration: none;
}
/*-----------End main structure---------------*/
.number-6{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    background: url('../img/island-6.svg') top center no-repeat;
}
.icon_7081{
    margin-top: 28%;
    margin-left: 56%;
}
.icon_7082{
    margin-top: 12%;
    margin-left: 70%;
}
.icon_7083{
    margin-top: -1%;
    margin-left: 50%;
}
.icon_7084{
    margin-top: 8%;
    margin-left: 61%;
}
.icon_7085{
    margin-top: -7%;
    margin-left: 67%;
}
.icon_7086-7{
    margin-top: 8%;
    margin-left: 58%;
}
.icon_7088{
    margin-top: 17%;
    margin-left: 66%;
}
.icon_7089{
    margin-top: -19%;
    margin-left: 66%;
}
/*-----------number-15-16---------------*/
.number-15-16{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    background: url('../img/Island_15-16.svg') top center no-repeat;
}

.icon_7144{
    margin-top: 31%;
    margin-left: 30%;
}
.icon_7142-7143{
    margin-top: 7%;
    margin-left: 36%;
}
.icon_7136{
    margin-top: -3%;
    margin-left: 41%;
}
.icon_7141{
    margin-top: -5%;
    margin-left: 44%;
}
.icon_7140{
    margin-top: -3%;
    margin-left: 47%;
}
.icon_7137{
    margin-top: 8%;
    margin-left: 57%;
}
.icon_7138{
    margin-top: 3%;
    margin-left: 49%;
}
.icon_7139{
    margin-top: -1%;
    margin-left: 64%;
}
.icon_7135{
    margin-top: 5%;
    margin-left: 59%;
}
.icon_7133{
    margin-top: 0%;
    margin-left: 51%;
}
.icon_7134{
    margin-top: 7%;
    margin-left: 54%;
}
/* */
.prev{
    margin-left: -43%;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next{
    right: 66px;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: #717171;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration:1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}
@keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}


