*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #ecfff0;
}
body.lock{
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}
.header{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.island{
    height: 1200px;
    margin-bottom: 2%;
}
.number-island{
    text-align: center;
    font-size: 30px;
}
.number-13{
    display: flex;
    flex-direction: column;
    background: url('../img/Island_13.svg') top center no-repeat;
}
.section_a{
    height: 50%;
}
.section_b{
    height: 50%;
}
.icon{
    /*opacity: 0;*/
    width: 26px;
    height: 20px;
}
.icon_popup{
    width: 26px;
    height: 20px;
}
.icon_6984{
    margin-left: 21%;
    margin-top: 11%;
}
.icon_6987{
    margin-left: 29%;
    margin-top: -1%;
}
.icon_6981{
    margin-left: 16%;
    margin-top: 15%;
}
.icon_6985{
    margin-left: 18%;
    margin-top: 1%;
}
.icon_6986{
    margin-left: 25%;
    margin-top: -6%
}
.icon_6982{
    margin-left: 29%;
    margin-top: 9%;
}
.icon_6979{
    margin-left: 53%;
    margin-top: -5%;
}
.icon_6977{
    margin-top: 0%;
    margin-left: 50%;
}
.icon_6978{
    margin-top: 4%;
    margin-left: 53%;
}
.icon_6973{
    margin-top: -1%;
    margin-left: 66%;
}
.icon_6976{
    margin-top: 3%;
    margin-left: 50%;
}
.icon_6975{
    margin-top: 1%;
    margin-left: 54%;
}
.icon_6974{
    margin-top: 1%;
    margin-left: 61%;
}
.icon_6974{
    margin-top: 0%;
    margin-left: 58%;
}
.icon_6971{
    margin-top: 0%;
    margin-left: 69%;
}
.icon_6969{
    margin-top: 6%;
    margin-left: 60%;
}
.icon_6972{
    margin-top: -1%;
    margin-left: 69%;
}

.icon_6964{
    margin-top: 5%;
    margin-left: 76%;
}
.icon_6970{
    margin-top: 5%;
    margin-left: 63%;
}
.icon_6965{
    margin-top: 2%;
    margin-left: 74%;
}
.icon_6966{
    margin-top: 0%;
    margin-left: 62%;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}
/*.popup-2{*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: rgba(0,0,0,0.8);*/
    /*top: 0;*/
    /*left: 0;*/
    /*opacity: 0;*/
    /*visibility: hidden;*/
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    /*transition: all 0.5s ease 0s;*/
/*}*/
.popup.open{
   opacity: 1;
    visibility: visible;
    transition: all 0.5s ease 0s;
}
.popup__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup__content{
    padding: 15px;
    position: relative;
    /* FIX ERROR WITH BTN*/
    text-align: center;
}
.popup__image{
    margin: auto;
    max-width: 75%;
}
.popup__image img{
    max-width: 100%;
}
.popup__close{
    position: absolute;
    right: 153px;
    top: 26px;
    font-size:20px;
    color: black;
    text-decoration: none;
}
/*-----------End main structure---------------*/
.number-6{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    background: url('../img/island-6.svg') top center no-repeat;
}
.icon_7081{
    margin-top: 28%;
    margin-left: 56%;
}
.icon_7082{
    margin-top: 12%;
    margin-left: 70%;
}
.icon_7083{
    margin-top: -1%;
    margin-left: 50%;
}
.icon_7084{
    margin-top: 8%;
    margin-left: 61%;
}
.icon_7085{
    margin-top: -7%;
    margin-left: 67%;
}
.icon_7086-7{
    margin-top: 8%;
    margin-left: 58%;
}
.icon_7088{
    margin-top: 17%;
    margin-left: 66%;
}
.icon_7089{
    margin-top: -19%;
    margin-left: 66%;
}
/*-----------number-15-16---------------*/
.number-15-16{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    background: url('../img/Island_15-16.svg') top center no-repeat;
}

.icon_7144{
    margin-top: 31%;
    margin-left: 30%;
}
.icon_7142-7143{
    margin-top: 7%;
    margin-left: 36%;
}
.icon_7136{
    margin-top: -3%;
    margin-left: 41%;
}
.icon_7141{
    margin-top: -5%;
    margin-left: 44%;
}
.icon_7140{
    margin-top: -3%;
    margin-left: 47%;
}
.icon_7137{
    margin-top: 8%;
    margin-left: 57%;
}
.icon_7138{
    margin-top: 3%;
    margin-left: 49%;
}
.icon_7139{
    margin-top: -1%;
    margin-left: 64%;
}
.icon_7135{
    margin-top: 5%;
    margin-left: 59%;
}
.icon_7133{
    margin-top: 0%;
    margin-left: 51%;
}
.icon_7134{
    margin-top: 7%;
    margin-left: 54%;
}
/* */
.prev{
    margin-left: -43%;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next{
    right: 66px;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.dot{
    display: none;
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    /*display: inline-block;*/
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: #717171;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration:1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}
@keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}

/*-----------island11-------------*/
.number-11{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    background: url('../img/Island 11.svg') top center no-repeat;
}
.icon_7104{
    margin-top: 24%;
    margin-left: 78%;
}
.icon_7103{
    margin-top: 18%;
    margin-left: 82%;
}

.island-small{
    border: green solid 1px;
    height: 900px;
    margin-bottom: 2%;
}
/*-----------island9-------------*/

.number-island-9{
    text-align: center;
    font-size: 30px;
    margin-top: -26%;
}
.number-9{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    background: url('../img/Island 9.svg') top center no-repeat;
}
.icon_7093{
    margin-top: 50%;
    margin-left: 18%;
}
.icon_7094{
    margin-top: -2%;
    margin-left: 30%;
}
.icon_7095-7096{
    margin-top: -14%;
    margin-left: 7%;
}
.icon_7097{
    margin-top: -21%;
    margin-left: 21%;
}
.icon_7098{
    margin-top: 1%;
    margin-left: 33%;
}
.icon_7099{
    margin-top: -12%;
    margin-left: 56%;
}
.icon_7100{
    margin-top: 7%;
    margin-left: 70%;
}
.icon_7101{
    margin-top: 20%;
    margin-left: 58%;
}
/*-----------island 10-------------*/
.number-10 {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    background: url('../img/Island 10.svg') top center no-repeat;
}

.icon_7163{
    margin-top: 42%;
    margin-left: 28%;
}
.icon_7164{
    margin-top: -4%;
    margin-left: 25%;
}
.icon_7165{
    margin-top: 7%;
    margin-left: 12%;
}
.icon_7166{
    margin-top: -10%;
    margin-left: 14%;
}
.icon_7167{
    margin-top: 5%;
    margin-left: 21%;
}
.icon_7168{
    margin-top: -12%;
    margin-left: 43%;
}
.icon_7169{
    margin-top: -3%;
    margin-left: 39%;
}
.icon_7170{
    margin-top: -16%;
    margin-left: 66%;
}
.icon_7171{
    margin-top: 5%;
    margin-left: 68%;
}
.icon_7172{
    margin-top: -14%;
    margin-left: 73%;
}
.icon_7173{
    margin-top: 2%;
    margin-left: 74%;
}
.icon_7174{
    margin-top: -9%;
    margin-left: 62%;
}
.icon_7175{
    margin-top: 27%;
    margin-left: 55%;
}
.icon_7176{
    margin-top: 7%;
    margin-left: 44%;
}
.icon_7177{
    margin-top: -15%;
    margin-left: 72%;
}
.icon_7178{
    margin-top: 22%;
    margin-left: 28%;
}
.icon_7179-7181{
    margin-top: -26%;
    margin-left: 3%;
}
/*-----------island 8-------------*/
.number-8 {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    background: url('../img/Island_8.svg') top center no-repeat;
}

.icon_7105{
    margin-top: 59%;
    margin-left: 51%;
}
.icon_7106{
    margin-top: 12%;
    margin-left: 56%;
}
.icon_7107{
    margin-top: 3%;
    margin-left: 50%;
}
.icon_7108{
    margin-top: 10%;
    margin-left: 35%;
}
.icon_7109{
    margin-top: -10%;
    margin-left: 38%;
}
.icon_7110-11{
    margin-top: -2%;
    margin-left: 42%;
}
.icon_7112{
    margin-top: -3%;
    margin-left: 27%;
}
.icon_7113{
    margin-top: -30%;
    margin-left: 21%;
}
.icon_7114{
    margin-top: -9%;
    margin-left: 27%;
}
.icon_7115{
    margin-top: -1%;
    margin-left: 21%;
}
.icon_7116{
    margin-top: -21%;
    margin-left: 20%;
}
.icon_7117{
    margin-top: -6%;
    margin-left: 33%;
}
.icon_7118{
    margin-top: -3%;
    margin-left: 21%;
}
.icon_7119-20-21{
    margin-top: -11%;
    margin-left: 32%;
}
.icon_7122{
    margin-top: -3%;
    margin-left: 43%;
}
.icon_7123{
    margin-top: 3%;
    margin-left: 34%;
}
.icon_7124-25{
    margin-top: -3%;
    margin-left: 44%;
}
.icon_7126{
    margin-top: 0%;
    margin-left: 47%;
}
.icon_7127{
    margin-top: -2%;
    margin-left: 41%;
}
.icon_7128{
    margin-top: 19%;
    margin-left: 56%;
}
.icon_7129{
    margin-top: 14%;
    margin-left: 68%;
}
.icon_7130{
    margin-top: -8%;
    margin-left: 67%;
}
/*-----------island 5-------------*/
.number-5 {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    background: url('../img/Island_5.svg') top center no-repeat;
}

.icon_7206{
    margin-top: 9%;
    margin-left: 57%;
}
.icon_7207{
    margin-top: 11%;
    margin-left: 59%;
}
.icon_7208{
    margin-top: -2%;
    margin-left: 56%;
}
.icon_7209{
    margin-top: 21%;
    margin-left: 65%;
}
.icon_7210{
    margin-top: -7%;
    margin-left: 53%;
}
.icon_7211-7212{
    margin-top: 39%;
    margin-left: 63%;
}
.icon_7213{
    margin-top: -6%;
    margin-left: 49%;
}
.icon_7214{
    margin-top: 4%;
    margin-left: 54%;
}
.icon_7215{
    margin-top: -72%;
    margin-left: 44%;
}
.icon_7216{
    margin-top: -3%;
    margin-left: 38%;
}
.icon_7217{
    margin-top: 7%;
    margin-left: 43%;
}
.icon_7218{
    margin-top: -4%;
    margin-left: 38%;
}
.icon_7219{
    margin-top: 8%;
    margin-left: 67%;
}
/*-----------island 12-------------*/
.number-12 {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    background: url('../img/Island_12.svg') top center no-repeat;
}

.icon_7182{
    margin-top: 39%;
    margin-left: 48%;
}
.icon_7183{
    margin-top: -13%;
    margin-left: 80%;
}
.icon_7184{
    margin-top: -2%;
    margin-left: 44%;
}
.icon_7185{
    margin-top: -10%;
    margin-left: 40%;
}
.icon_7186{
    margin-top: -4%;
    margin-left: 32%;
}
.icon_7187{
    margin-top: -7%;
    margin-left: 44%;
}
.icon_7188{
    margin-top: 14%;
    margin-left: 30%;
}
.icon_7189{
    margin-top: 13%;
    margin-left: 33%;
}
.icon_7190{
    margin-top: -21%;
    margin-left: 23%;
}
.icon_7191{
    margin-top: 1%;
    margin-left: 24%;
}
.icon_7192{
    margin-top: -1%;
    margin-left: 21%;
}
.icon_7193{
    margin-top: 7%;
    margin-left: 30%;
}
.icon_7194-7195{
    margin-top: 12%;
    margin-left: 20%;
}
.icon_7196{
    margin-top: 3%;
    margin-left: 23%;
}
.icon_7197{
    margin-top: 2%;
    margin-left: 10%;
}
.icon_7198{
    margin-top: -7%;
    margin-left: 10%;
}
.icon_7199-7200{
    margin-top: -10%;
    margin-left: 18%;
}
.icon_7201-7202{
    margin-top: -5%;
    margin-left: 19%;
}
.icon_7203{
    margin-top: 15%;
    margin-left: 25%;
}
.icon_7204{
    margin-top: -3%;
    margin-left: 24%;
}
.icon_7205{
    margin-top: -18%;
    margin-left: 24%;
}
/*-----------island 4-------------*/
.number-4 {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    background: url('../img/Island 4.svg') top center no-repeat;
}

.icon_7296{
    margin-top: 33%;
    margin-left: 6%;
}
.icon_7297{
    margin-top: 25%;
    margin-left: 26%;
}
.icon_7298{
    margin-top: -4%;
    margin-left: 32%;
}
.icon_7299{
    margin-top: -5%;
    margin-left: 39%;
}
.icon_7300{
    margin-top: -36%;
    margin-left: 25%;
}
.icon_7301{
    margin-top: -11%;
    margin-left: 40%;
}
.icon_7302{
    margin-top: 2%;
    margin-left: 51%;
}
.icon_7303{
    margin-top: -13%;
    margin-left: 46%;
}
.icon_7304{
    margin-top: 0%;
    margin-left: 53%;
}
.icon_7305{
    margin-top: 2%;
    margin-left: 55%;
}
.icon_7306{
    margin-top: 22%;
    margin-left: 57%;
}
.icon_7307{
    margin-top: 7%;
    margin-left: 63%;
}
.icon_7308{
    margin-top: -3%;
    margin-left: 68%;
}




