*{
    box-sizing: border-box;
}
body{
    padding-top: 44px;
    background: #ecfff0;
}
body.lock{
    overflow: hidden;
}
.container{
    border: green 1px solid;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}
/*.island-13{*/
    /*border: red 1px solid;*/
    /*background: url('../img/Island_13.png') no-repeat;*/
/*}*/
.article{
    text-align: center;
    font-size: 30px;
    margin-bottom: 2%;
}
.header{
    text-align: center;
    font-size: 25px;
}
.island-13{
    display: flex;
    flex-direction: column;
    height: 760rem;
    background: url('../img/Island_13.svg') top center no-repeat;
}
.section_a{
    border: red 1px solid;
    height: 33rem;
}
.section_b{
    border: blue 1px solid;
    height: 33rem;
}
.icon{
    width: 20px;
    height: 20px;
}
.icon_6984{
    margin-left: 13%;
    margin-top: 15%;
}
.icon_6987{
    margin-left: 24%;
    margin-top: -1%;
}
.icon_6981{
    margin-left: 7%;
    margin-top: 20%;
}
.icon_6985{
    margin-left: 9%;
    margin-top: 1%;
}
.icon_6986{
    margin-left: 19%;
    margin-top: -6%;
}
.icon_6982{
    margin-left: 24%;
}
.icon_6979{
    margin-left: 54%;
    margin-top: -6%;
}
.icon_6977{
    margin-top: 1%;
    margin-left: 51%;
}
.icon_6978{
    margin-top: 5%;
    margin-left: 54%;
}
.icon_6973{
    margin-top: -1%;
    margin-left: 72%;
}
.icon_6976{
    margin-top: 5%;
    margin-left: 51%;
}
.icon_6975{
    margin-top: 4%;
    margin-left: 55%;
}
.icon_6974{
    margin-top: 1%;
    margin-left: 61%;
}
.icon_6974{
    margin-top: 1%;
    margin-left: 61%;
}
.icon_6971{
    margin-top: -8%;
    margin-left: 75%;
}
.icon_6969{
    margin-top: 13%;
    margin-left: 63%;
}
.icon_6972{
    margin-top: 0%;
    margin-left: 76%;
}

.icon_6964{
    margin-top: 0%;
    margin-left: 85%;
}
.icon_6970{
    margin-top: 7%;
    margin-left: 68%;
}
.icon_6965{
    margin-top: 3%;
    margin-left: 82%;
}
.icon_6966{
    margin-top: 0%;
    margin-left: 66%;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.1s ease 0s;
}
/*.popup-2{*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: rgba(0,0,0,0.8);*/
    /*top: 0;*/
    /*left: 0;*/
    /*opacity: 0;*/
    /*visibility: hidden;*/
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    /*transition: all 0.5s ease 0s;*/
/*}*/
.popup.open{
   opacity: 1;
    visibility: visible;
}

/*.popup__area{*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*top: 0;*/
    /*left: 0;*/
/*}*/
.popup__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup__content{
    padding: 30px;
    position: relative;
}
.popup__image img{
    max-width: 100%;
}
.popup__close{
    position: absolute;
    right: 37px;
    top: 37px;
    font-size:20px;
    color: black;
    text-decoration: none;
}
